@{
    ViewBag.Title = "About";
}
<div class="b-image">
	<div class="p-content h100">
		<h1>О нас</h1>

		<h3>Авторы: Низамутдинов Артур и Александр Окунев.</h3>
		<h3>Специально для </h3>
		<h3 style="font-size: 65px;">Code <span style="font-size: 72px; color: #39C2D7;">4</span> Education</h3>

	</div>
	
</div>
