
@{
    ViewBag.Title = "AddDoc";
}

<div class="b-image">
	<div class="p-content h100">
		<h2>Добавить работу</h2>
		
		<div class="btn btn-primary cp" ngf-select ng-model="file" ngf-multiple="false">Выбрать файл</div>

	</div>

</div>


