
@{
    ViewBag.Title = "AddDoc";
}

<div class="b-image">
	<form class="p-content h100" enctype="multipart/form-data">
		<h2>Добавить работу</h2>
		
		<div class="btn btn-primary cp" ngf-drop ngf-select="" ng-model="file">Выбрать файл</div>
	</form>

</div>


